/* Dark Theme Colours */
:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
    --ButtonColor: rgba(225, 225, 225, 0.05);
}

.about{
    width: 100%;
    height: 100vh;
    .aboutContent{
        height: 30%;
        width: 55vw;
        background-color: white;
        .imgContainer{
            height: 100%;
            .aboutImg{
                width: 500px;
                height: 500px;
            }
        }
    }
}