/* Dark Theme Colours */
:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
    --ButtonColor: rgba(225, 225, 225, 0.05);
}

.about{
    background-color: lightblue;
    padding: 3rem 0rem;
    width: 100%;
    height: 100vh;
    .aboutContainer{
        background-color: grey;
        height: 100%;
        .aboutContent{
            width: 100%;
            height: 100%;
            padding: 1rem 0rem;
            background-color: bisque;
            .aboutMe{
                background-color: chocolate;
                height: 56%;
                padding: 1rem 1rem;
                font-size: 10px;
                .aboutMeHeading{
                    display: flex;
                    justify-content: left;
                    .aboutLine{
                        width: 25%;
                        height: 1%;
                        position: relative;
                        top: 0.5rem;
                        left: 0.5rem;
                    }
                }
                .aboutBlocks{
                    background-color: darkgreen;
                    height: 100%;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    .aboutImg1{
                        display: flex;
                        justify-content: center;
                        width: 25%;
                        height: 40vh;
                        padding: 0rem 0rem;
                        background: var(--PrimaryTextColour);
                        border-radius: 10px;
                        gap: 1rem;
                        overflow: hidden;
                        .aboutPicture{
                            width: 100%;
                            height: 100%;
                            position: relative;
                        }
                        }
                    }
                    .aboutText{
                        background-color: lightpink;
                        margin-left: 1%;
                        height: 90%;
                        width: 100%;
                        border-radius: 10px;
                        .aboutTextHeading{
                            display: flex;
                            justify-content: center;
                            font-size: 100%;
                            font-weight: 600;
                        }
                        .subheading{
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            font-size: 80%;
                        }
                        .topArrows{
                            font-size: 7px;
                            .icon{
                                font-size: 7px;
                                margin-left: 5px;
                                margin-right: 2px;
                            }
                            .arrowText{
                                font-size: 100%;
                                display: flex;
                                justify-content: center;
                            }
                        }
                        .aboutTextContent{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: 80%;
                        }
                    }
                }
            }
            .aboutInterests{
                background-color: #D9171F;
                height: 50%;
                padding: 0rem 0rem;
                .interestsContainer{
                    background-color: white;
                    height: 100%;
                    font-size: 10px;
                    .interestsHeading{
                        .line{
                            width: 25%;
                            position: relative;
                            top: -0.5rem;
                            left: 4.5rem;
                        }
                    }
                    .interestList{
                        background-color: darkkhaki;
                        height: 10vh;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        position: relative;
                        .sports{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .interestText{
                                font-size: 10px;
                            }
                        }
                        .gaming{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .interestText{
                                font-size: 10px;
                            }
                        }
                        .webDev{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            .interestText{
                                font-size: 8px;
                            }
                        }
                        .AppDev{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            .interestText{
                                font-size: 8px;
                            }
                        }
                        .Cyber{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            .interestText{
                                font-size: 8px;
                            }
                        }
                        .Ai{
                            background-color: lightseagreen;
                            width: 18vw;
                            height: 6vh;
                            border-radius: 10px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            .interestText{
                                font-size: 8px;
                            }
                        }
                    }
                    .workHeading{
                        display: flex;
                        justify-content: center;
                        .line1{
                            width: 25%;
                            height: 1%;
                            position: relative;
                            top: 0.5rem;
                            right: 0.5rem;
                            }
                        .Work{
                            display: flex;
                            justify-content: center;
                        }
                        .line2{
                            width: 25%;
                            height: 1%;
                            position: relative;
                            top: 0.5rem;
                            left: 0.5rem;
                           
                        }
                    }
                    .workList{
                        background-color: lightseagreen;
                        width: 100%;
                        height: 20vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .projects{
                            background-color: lightpink;
                            border-radius: 10px;
                            width: 40vw;
                            height: 15vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }