/* Dark Theme Colours */
:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
    --ButtonColor: rgba(225, 225, 225, 0.05);
}

/* Container styling for all page content*/

.home{
    background-color: grey;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .homeContent{
        width: 100%;
        height: 100vh;
        padding: 0rem 1.5rem 0rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--PrimaryTextColour);
        z-index: 100;

        .textDiv{
            display: flex;
            justify-content: center;
            padding: 5rem 0rem 0 0;
            height: 30vh;

            .smallText{
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0 2.5rem;
                font-size: 32px;

                .quoteRed{
                    display: flex;
                    justify-content: center;
                    color: var(--SecondaryTextColour);
                }
            }

            
        }

        .icons{
            display: flex;
            justify-content: center;
            justify-content: space-around;
            position: relative;
            top: 3rem;
        }

        .btn-container{
            display: flex;
            justify-content: center;
            position: relative;
            top: 1.5rem;

            .btn-cv{
                width: 17vh;
                height: 5vh;
                font-size: 15px;
                font-weight: 600;
            }
        }

        .cardDiv{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 350vh;
            padding: 0rem 0rem;
            background: var(--PrimaryTextColour);
            border-radius: 10px;
            gap: 1rem;
            transform: translate(0%);
            overflow: hidden;

            .nameText{
                position: absolute;
                display: block;
                margin: auto auto;
                color: Black;
                padding-bottom: 10px;
                font-size: 65px;
                font-weight: 500;
                line-height: 23rem;
                white-space: nowrap;
                overflow: hidden;
                min-width: 100%;
                height: 400px;
                animation: name 5s linear infinite;

                .surnameText{
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    height: 100%;
                    font-size: 65px;
                    color: var(--SecondaryTextColour);
                    animation: 5s infinite;
                }
            }

            .img{
                position: absolute;
                width: 350px;
                top: -2.2rem;
            }
        }
    }
}


/* Animation for moving name text*/

@keyframes name {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* Media Queries */

@media screen and (min-width:375px){
    .home{
        .homeContent{
            .textDiv{
                .homeTitle{
                    font-size: 35px;
                    padding: 0rem 3rem;
                }
            }
            .icons{
                top: 4rem;
            }
            .btn-container{
                top: 2.5rem;
            }
            .cardDiv{
                top:1rem;
            }
        }
    }
}